.page-title{
    font-size: 250%;
    padding: .7rem;
    margin-top: 5rem;
    margin-bottom: 1rem; 
    text-align: center;
}

.bio{
    font-size: 140%; 
    margin: 1em; 
    text-align: center;
}

.contact{
    text-align: center;
    font-size: 130%; 
}

span{
    padding: .2em; 
}